<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>NOL-Based RFA Planning</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://kit.fontawesome.com/4340db9199.js" crossorigin="anonymous"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/livercancer-updated.png') }}">
</head>

<body>
    <section id="navigate">
		<nav class="navigation">
			<!--logo-->
			<a href="{{ url_for('home') }}" class="logo"><span>NOL</span></a>
			<!--menu-->
			<div class="menu-icon" onclick="toggleMenu()">
    			<div class="bar"></div>
    			<div class="bar"></div>
    			<div class="bar"></div>
			</div>
			<div class="menu">
				<ul>
				<li><a href="{{ url_for('home') }}">HOME</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="{{ url_for('page2') }}">SIMULATION</a></li>
				{% if 'username' in session %}
                    <li class="dropdown">
                        <a href="#" class="dropbtn">WELCOME, {{ session['username'] }}</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('logout') }}">LOGOUT</a>
                        </div>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">LOGIN</a></li>
                    {% endif %}
			</ul>
			</div>
		</nav>
	</section>

    {% block content %}{% endblock %}

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>