<footer>
		<div class="footer-container">
			<div class="footer-company-box">
				<a href="#" class="logo1"><span>NOL</span></a>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt ligula sit amet maximus molestie. Aliquam facilisis dignissim sodales. In id pulvinar est, non posuere nisl. </p>
				<div class="footer-social">
					<i class="fa-brands fa-facebook"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-youtube"></i>
				</div>
			</div>

			<div class="footer-link-box">
				<h3>Links</h3>
				<ul>
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="{{ url_for('page2') }}">Simulation</a></li>
					<li><a href="{{ url_for('login') }}">Login</a></li>
				</ul>
			</div>
		</div>
		<hr>

		<a class="footer-etc"> NOL © 2023 - All Rights Reserved</a>

		<p class="footer-etc">
			<a href="https://www.tempus.com/privacy/">Privacy Policy</a>
			<span class="divide">|</span>
			<a href="https://www.tempus.com/terms-of-use/">Terms of Use</a>
			<span class="divide">|</span>
			<a href="">Cookies Settings</a>
		</p>

	</footer>