<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>NOL-Based RFA Planning</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://kit.fontawesome.com/4340db9199.js" crossorigin="anonymous"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/livercancer-updated.png') }}">
</head>
<body>
    {% include '_navigation.html' %}

	<video autoplay muted loop id="backgroundVideo4">
		<source src="{{ url_for('static', filename='videos/test4.mp4') }}" type="video/mp4">
	</video>

    <div class = "card" id="signInCard">
        <div class="form-card sign-in">
            <form action="">
                <h2>Login</h2>
                <div class="input-group">
                    <input type="text" required>
                    <label for="">Username</label>
                </div>
                <div class="input-group">
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <div class="remember">
                    <label for=""><input type="checkbox">Remember me</label>
                </div>
                <button type="submit">Login</button>
                <div class="signUp-link">
                    <p>Don't have an account? <a href="#" class="signUp-button-link">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class = "card" id="signUpCard">
        <div class="form-card sign-in">
            <form action="">
                <h2>Sign Up</h2>
                <div class="input-group">
                    <input type="text" required>
                    <label for="">Username</label>
                </div>
                <div class="input-group">
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <div class="remember">
                    <label for=""><input type="checkbox">I agree to the terms and conditions.</label>
                </div>
                <button type="submit">Sign Up</button>
                <div class="signUp-link">
                    <p>Already have an account? <a href="#" class="signIn-button-link">Sign In</a></p>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

	<footer>
		<div class="footer-container">
			<div class="footer-company-box">
				<a href="#" class="logo1"><span>NOL</span></a>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt ligula sit amet maximus molestie. Aliquam facilisis dignissim sodales. In id pulvinar est, non posuere nisl. </p>
				<div class="footer-social">
					<i class="fa-brands fa-facebook"></i>
					<i class="fa-brands fa-instagram"></i>
					<i class="fa-brands fa-twitter"></i>
					<i class="fa-brands fa-youtube"></i>
				</div>
			</div>

			<div class="footer-link-box">
				<h3>Links</h3>
				<ul>
					<li><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="{{ url_for('page2') }}">Simulation</a></li>
					<li><a href="{{ url_for('login') }}">Login</a></li>
				</ul>
			</div>
		</div>
		<hr>

		<a class="footer-etc"> NOL © 2023 - All Rights Reserved</a>

		<p class="footer-etc">

			<a href="https://www.tempus.com/privacy/">Privacy Policy</a>
			<span class="divide">|</span>
			<a href="https://www.tempus.com/terms-of-use/">Terms of Use</a>
			<span class="divide">|</span>
			<a href="">Cookies Settings</a>
		</p>

	</footer>

	<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>