<section id="navigate">
	<nav class="navigation">
		<!--logo-->
		<a href="{{ url_for('home') }}" class="logo"><span>NOL</span></a>
		<!--menu-->
		<div class="menu-icon" onclick="toggleMenu()">
			<div class="bar"></div>
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div class="menu">
			<ul>
			<li><a href="{{ url_for('home') }}">HOME</a></li>
			<li><a href="#">ABOUT</a></li>
			<li><a href="{{ url_for('page2') }}">SIMULATION</a></li>
			{% if 'username' in session %}
					<li><a href="{{ url_for('logout') }}">WELCOME, {{ session['username'] }}</a></li>
			</li>
		{% else %}
			<li><a href="{{ url_for('login') }}">LOGIN</a></li>
		{% endif %}
		</ul>
		</div>
	</nav>
</section>