<section id="navigate">
		<nav class="navigation">
			<!--logo-->
			<a href="#" class="logo"><span>NOL</span></a>
			<!--menu-->
			<div class="menu-icon" onclick="toggleMenu()">
    			<div class="bar"></div>
    			<div class="bar"></div>
    			<div class="bar"></div>
			</div>
			<div class="menu">
				<ul>
				<li><a href="{{ url_for('home') }}">HOME</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="{{ url_for('page2') }}">SIMULATION</a></li>
				<li><a href="{{ url_for('login') }}">LOGIN</a></li>
			</ul>
			</div>
		</nav>
	</section>