{% extends 'base.html' %}

{% block content %}

<section id="content">
	<video autoplay muted loop id="backgroundVideo">
		<source src="{{ url_for('static', filename='videos/test1.mp4') }}" type="video/mp4">
	</video>
	<div class="headline">
		<h1>Next-Gen<br>RFA Simulation</h1>
		<div class="description"><p>NOL-driven Treatment Planning for Liver Cancer</p></div>
	</div>
</section>

<section id="content2">
	<video autoplay muted loop id="backgroundVideo2">
		<source src="{{ url_for('static', filename='videos/test1.mp4') }}" type="video/mp4">
	</video>
	<div class="tagline">
		<h2>REVOLUTIONIZE</h2>
		<div class="shorttagline">Revolutionizing healthcare with AI</div>
		<h2>REAL TIME</h2>
		<div class="shorttagline">Navigate the future with instant insights</div>
		<h2>PERSONALIZE</h2>
		<div class="shorttagline">Tailored wellness just for you</div>
	</div>
</section>

<section id="content3">
	<video autoplay muted loop id="backgroundVideo3">
		<source src="{{ url_for('static', filename='videos/test6.mp4') }}" type="video/mp4">
	</video>
	<div class="title-for-c5 appear">
		<h2>Unlocking precision through AI<br>for advanced<br>liver cancer treatment planning</h2>
		<p>Revolutionizing healthcare for tomorrow</p>
	</div>
</section>

<section id="oncology">
	<div class="oncology">
		<h2>Oncology</h2>
		<div class="container">
			<br>
			<h3>RFA Liver Cancer</h3>
			<br>
			<p>Utilizing multiple liver images, the NeRF-powered</p>
			<p>RFA project provides real-time simulations for</p>
			<p>precise liver cancer treatment planning.</p>
			<br>	
			<button onclick=window.location.href = '{{ url_for('page2') }}'; class="button">Start</button>
			<br>
		</div> 
	</div>
	<div id="scrollToTop" onclick="scrollToTop()">
		<i class="fas fa-arrow-up"></i>
	</div>
</section>
{% endblock %}