{% extends 'base.html' %}

{% block content %}
<section id="simulateRFA">
	<video autoplay muted loop id="backgroundVideo4">
		<source src="{{ url_for('static', filename='videos/test4.mp4') }}" type="video/mp4">
	</video>
	<div class="simulateRFA">
		<br> <br> 
		<h1>Simulate RFA</h1>
	</div>

	<div class = "form" id="inputData">
		<div class="form-form input-Data">
			<form action="">
				<h2>Input Parameters</h2>
				<div class="input-group3">
					<label for="">Upload Images</label>
					<input type="file" required>
					<br><br>
				</div>
				<br>
				<div class="input-group2">
					<input type="text" required>
					<label for="">Enter Voltage</label>
				</div>
				<br>
				<div class="input-group2">
					<input type="text" required>
					<label for="">Enter Duration</label>
				</div>
				<br>
				<div class="input-group2">
					<input type="text" required>
					<label for="">Enter Probe Dimension</label>
				</div>
			</form>
		</div>
	</div>

	<div class="startbutton">
		<button type="button" onclick="openPopup()"><span></span>Start</button>
	</div>
	</div>

	<div class="popup-container" id="popupContainer" onclick="closePopup()">
		<div class="popup-content" onclick="event.stopPropagation();">
			<!-- Close button for the pop-up -->
			<span class="close-btn" onclick="closePopup()">&times;</span>
			<!-- Pop-up content goes here -->
			<h2>Results</h2>
			<p>Results will be shown here.</p>
		</div>
	</div>
</section>
{% endblock %}